
.home-wrapper {
    background-image: url("../pictures/flowercup.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 86vh;
    display: flex; 
    justify-content: center;
    font-family: "Kalam", cursive;
    border-radius: 40px;
}

.home-content {
    color: whitesmoke;
    font-size: 1.5rem;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20%;
}