
.nav {
    text-align: center; 
    margin: 1rem 2rem;
    font-size: 1.5em;
    border-bottom: 2px solid whitesmoke;
    transition: 0.1s;
    color: grey;
    font-family: "Kalam", cursive;
    border-bottom: 2px solid;
    list-style: none;
}