

.profile {
    background-image: url("../pictures/flowercup.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    font-family: "Kalam", cursive;
    align-items: center;
    padding: 40px;
     min-height: 50px;
     width: 100%;
    border-radius: 20px;
    color: whitesmoke;
     background-color: grey;
}