.teaImg {
    height: 200px;
    width: auto;
}

.card{
    font-family: "Kalam", cursive;
    padding: 1rem;
    display: inline-block;
    margin: 1rem;
    margin-bottom: 8rem;
    border-radius: 10px;
    width: 20rem;
    height: 20rem;
    margin-left: 1.25rem;
}