
.tea-text {
    text-align: center;
    font-family: "Kalam", cursive;
    font-size: 15px;
    border-radius: 15px;
    color: burlywood;
    background-color: grey;
}

.tea-form {
    box-sizing: border-box;
    align-items: center;
}

